APP_ENV=prod
APP_DEBUG=0
APP_SECRET=fbb5e3cbf5fd310a1e80166df778ad2c
MAILER_DSN=smtp://postmaster%40bruschatka.ru:<mailgun-password>@smtp.eu.mailgun.org:587?encryption=tls&auth_mode=login
MAILER_FROM_EMAIL=postmaster@bruschatka.ru
QUIZ_LEAD_TO=zaikinalexandr@gmail.com,info@bruschatka.ru
ADMIN_USERNAME=admin
ADMIN_PASSWORD=<admin-password>
